body{
     cursor:pointer;
     padding:0;
     margin:0;
     cursor:pointer;
  
}

header{
    height:45px;
    background-color:rgb(0, 31, 59);
    color:aliceblue;
}

h1{ 
    display:flex;
    justify-content: center;
    align-items: center;
}



#container {

  display: flex;
  justify-content: space-between;
  padding:5px;
  background-color: #eee;
}

#left, #right {

  display: flex;
  align-items: center;
  justify-content: center;

}

#left {

  background-color: #01132f;
  width:18%;
  height:500px;
  display:grid;
  grid-template-columns:  1fr;
  align-items: center;
  padding:10px;
  row-gap:5px;
}
#left-a{

    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height:120px;
    border-radius:15px;
}

p{
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight:bold;
   
}

button{
    height:27px;
    width: 27px;
    border-radius:50%;
    border: none;
    
}

#font-color{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  row-gap:5px;
  column-gap:5px;
  justify-content: space-evenly;
   cursor:pointer;
}

#background-color{
 display:grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 row-gap:5px;
 column-gap:5px;
 cursor:pointer;
}

#background-image{
 display:grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 row-gap:5px;
 column-gap:5px;
 cursor:pointer;

}


#font-style{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    cursor:pointer;
    column-gap: 5px;
}


#right {

  height:500px;
  display:grid;
  grid-template-columns:  1fr;
  align-items: center;
  justify-content: center;
  width:80%;

}

#right-a{

    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#text{
    width:700px;
    height:380px;
    border: 2px solid black;
    font-size:20px;
    padding: 20px;
    background-size: cover;
  
}

#download{
  height: 40px;
  width: fit-content;
  padding: 10px;
  background-color: rgb(0, 2, 39); 
  color: white; 
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

#download:hover {
      background-color: #32bbff;
      color:darkslategrey;
      font-weight: bold;
    }
